{$CADDY_SITE_ADDRESS} {
	encode zstd gzip

	header {
		-Server
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
	}

	request_body {
		max_size 9MB
	}

	reverse_proxy truthhunter:8000
}
